.button
  display flex
  justify-content center
  //margin-right 10px
  align-items center
  font-size 24px
  color white
  width 160px
  height 48px
  border solid darkgray 1px
  background #2a2b2c
  border-radius 20px
.button:hover
  background #00aa00