.line
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 300px
  height 400px
  background black
  border solid #93979f 10px
  border-radius 30px
  font-size 24px
  color white
  > span
    margin-bottom 10px
    font-size 24px
    font-weight bold
  .each-button
    margin 20px