
.wrap-content
  width 1000px
  background #b7b7af
  border-radius 50px
  display flex
  justify-content center
  align-items stretch
  opacity 0.9
  margin auto auto
  padding 50px
  overflow hidden
  .cell-content
    display flex
    align-items center
    position relative
    background black
    border solid #6c7373 10px
    border-radius 30px
    padding 20px
    .game-over-wrapper
      position absolute
      left 0
      right 0
      top 0
      bottom 0
      display flex
      justify-content center
      align-items center

  .right-content
    display flex
    flex-direction column
    justify-content start
    .score-content
      margin-left 50px
      margin-bottom 20px
      width 310px
      height 30%
      display flex
      flex-direction column
      justify-content space-around
      align-items center
      font-size 24px
      color white
      background black
      border solid #6c7373 10px
      border-radius 30px
      .part
        display flex
        flex-direction column
        justify-content center
        align-items center
        .score
          display flex
          justify-content center
          align-items center
          width 150px
          height 18%
          background #2a2a2a
          border solid #6c7373 1px
          border-radius 20px
          //margin-bottom 20px
        > span
          margin-bottom 20px
          font-size 24px

    .next-content
      margin-left 50px
      margin-bottom 20px
      width 310px
      height 40%
      display flex
      flex-direction column
      align-items center
      font-size 24px
      color white
      background black
      border solid #6c7373 10px
      border-radius 30px
